

/* Font Google - strong reaload time */
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,100,700,900&subset=latin,latin-ext);



.preloader{
  position:fixed;
  width:100%;
  height:100%;
  background:white;
  z-index:99999;
}
 
.preloader .item{
  position:absolute;
  width:100px;
  height:100px;
  left:50%;
  top:50%;
  margin-left:-50px;
  margin-top:-50px;
} 


html, body{
  font-family: 'Lato', sans-serif;
  font-size:15px;
  -webkit-font-smoothing: subpixel-antialiased!important;
  color:black;
  font-weight:400;
  height:100%;
  margin: 0;
}

a{
  text-decoration:none;
  outline:none;
  font-size:14px;
}

h1{
  font-size:34px;
  color:white;
  font-weight:400;
  text-transform:uppercase;
  letter-spacing:6px;
  line-height:1.2;
}

h2{
  font-size:24px;
  color:white;
  font-weight:350;
  text-transform:uppercase;
  letter-spacing:6px;
  line-height:1.2;
}

#intro{
  font-size:18px;
  color:white;
  font-weight:250;
  letter-spacing:1px;
  margin-top:70px;
}


h1 span{
  color:#2fa68e;
}


::selection {
  background: #ada074;
  color:white;
}

::-moz-selection {
  background: #ada074;
  color:white;
}


.container{
  position:absolute;
  width:100%;
  height:100%;
}






/* Start page */

.start-page{
  position:relative;
  width:100%;
  height:100%;
  z-index:10;
  background:url('../homepage.png') #c0c0c0 bottom center fixed no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.start-page hr{
  color: white;
  margin-top:30px;
  background-color: white;
  height: 1px;
  width:106px;
  border:0;

}

.start-page .opacity{
  position:absolute;
  width:100%;
  height:100%;
  background:rgba(51,51,51,0.5); /* Standard Off */
}


.start-page .content{
  position:relative;
  width:700px;
  margin:0 auto;
  height:100%;
}

.start-page .content .text{
  position:absolute;
  text-align:center;
  margin:auto;
  top:0; 
  left:0; 
  bottom:0; 
  right:0;
  width:700px;
  height:520px;
}

.start-page .content .text .logo{
  width:123px;
  height:123px;
  margin:0 auto 50px;
  
}


.start-page .content .text .read-more{
  width:183px;
  height:47px;
  margin:100px auto;
  line-height:47px;
  border:1px solid white;
  text-transform:uppercase;
  color:white;
  display:block;
  cursor:pointer;
  font-size:14px;
  letter-spacing:1px;
  background:none;
  -webkit-transition: all 0.6s ease-in;
	-moz-transition: all 0.6s ease-in;
	-ms-transition: all 0.6s ease-in;
	-o-transition: all 0.6s ease-in;
	transition: all 0.6s ease-in;
}

.start-page .content .text .read-more:hover{
  color:white;
  background: #ada074;
  border:1px solid #ada074;
}














